@model TesteDti.Models.Financing

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Financing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallmentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancedAmountPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancedAmountPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
