@model IEnumerable<TesteDti.Models.Financing>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DownPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancedAmountPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DownPayment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InstallmentValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberYears)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FinancedAmountPayed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPayed)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>}
    </tbody>
</table>